<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Lifelog</title>
    <!-- 파비콘 연결 -->
    <link rel="shortcut icon" href="public/img/favicon.png">
    <!-- css 파일 연결 -->
    <link rel="stylesheet" type="text/css" href="public/css/common.css">
    <!-- jquery 연결 -->
    <script src="node_modules/jquery/dist/jquery.js" ></script> 
</head>
<body>
    <div id="header">
        <%- include("./common/header") %>
    </div>
    <div class="wrap">
        <div id="section">
            <div id="section1">
                <div><img src="public/img/main1.jpg" alt="메인 이미지"></div>
                <div><img src="public/img/main2.jpg" alt="메인 이미지"></div>
                <div><img src="public/img/main3.jpg" alt="메인 이미지"></div>
            </div>
            <div id="section2">
                <div class="section_top">
                    <p>치매 고 위험군 라이프로그 AI 데이터란?</p>
                    <hr><br>
                    <p>웨어러블 디바이스를 통해 얻어진 라이프로그 데이터와 치매 검진 검사인 SNSB, MMSE를 활용한 유용한 정보를 제공하는 데이터셋</p>
                </div> 
                <div id="section2_img">
                    <div class="s2_text_l" id="s2_text1">
                        <p>15%</p>
                        <div>
                            <hr>
                            <div class="s2_circle"></div>
                        </div> 
                        <p>60대</p>
                    </div>
                    <div class="s2_text_l" id="s2_text2">
                        <p>73%</p>
                        <div>
                            <hr>
                            <div class="s2_circle"></div>
                        </div> 
                        <p>70대</p>
                    </div>
                    <div class="s2_text_l" id="s2_text3">
                        <p>12%</p>
                        <div>
                            <hr>
                            <div class="s2_circle"></div>
                        </div> 
                        <p>80대</p>
                    </div>
                    <div class="s2_text_r" id="s2_text4">
                        <p>8%</p>
                        <div>
                            <div class="s2_circle"></div>
                            <hr>     
                        </div> 
                        <p>알츠하이머 치매</p>
                        <p>(AD : Alzheimer's Disease)</p>
                    </div>
                    <div class="s2_text_r" id="s2_text5">
                        <p>27%</p>
                        <div>
                            <div class="s2_circle"></div>
                            <hr>     
                        </div> 
                        <p>경도 인지 장애</p>
                        <p>(MCI : Mild Cognitive Impairment)</p>
                    </div>
                    <div class="s2_text_r" id="s2_text6">
                        <p>65%</p>
                        <div>
                            <div class="s2_circle"></div>
                            <hr>     
                        </div> 
                        <p>정상</p>
                        <p>(CN : Cognitive Normal)</p>
                    </div>
                </div>
                
            </div>
            <div id="section3">
                <div class="section_top">
                    <p>라이프로그 데이터란?</p>
                    <hr><br>
                </div>
            </div>
            <div id="section4">
                <h3>내용3</h3>
            </div>
        </div>
    </div>
    <div id="footer">
        <%- include("./common/footer") %>
    </div>
    <script>
        $('#section1 > div:gt(0)').hide();
        setInterval(function(){
            $('#section1 > div:first').fadeOut(2000).next().fadeIn(2000).end().appendTo('#section1');
        }, 4000);
    </script>
</body>
</html>