* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:  #000;
}
a:link, a:visited { text-decoration: none;}

ul>li{ list-style: none;}

/* public------------------------------------------------------------ */
body{
    font-size: 20px;
    width: 1903px;  
}
.wrap{ 
   width: 1903px;
   margin: 0 auto;
   min-height: 900px;
}
hr{
    border: 1px solid #000;
    margin: 10px 0 50px;
}
/* header------------------------------------------------------------ */
#header{
    width: 80%;
    min-width: 1280px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
#header > div:nth-child(1){
    width: 15%;
	margin : auto 0px;
}
#main_nav_logo{
    width: 200px;
    margin: 0 20px 0 0;
}
#header > div:nth-child(2){
    width: 50%;
    margin-top: 33px;
}
#header > div:nth-child(2) > ul{ 
    width: 100%;
    display: flex;  
    justify-content: space-between;
    font-size: 27px;
    font-weight: bold;
    position: relative;
}
#header ul > li > a:hover{
    color: #664E9E;
}
#main_nav > ul > li{
    width: 30%;
    text-align: center;
}
#main_nav > ul > li > ul{
    display: none;
    width: 30%;
    position: absolute;
    font-size: 18px;
    background-color: #fff;
    z-index: 1000;
    padding-top: 10px;
}
#main_nav > ul > li > ul > li{
    width: 100%;
}
#main_nav > ul > li > ul > li > a{
    display: inline-block;
    width: 100%;
    cursor: pointer;
}
#main_nav > ul > li > ul > li:not(:first-child) > a{
    padding: 15px 0;
}
#main_nav > ul > li > ul > li:last-child{
    margin-bottom: 20px;
}
#main_nav > ul > li > ul > li:not(:first-child):hover > a{
    background-color: #664E9E;
}
#main_nav > ul > li > ul > li:not(:first-child):hover > a{
    color: #fff;
}
#main_nav > ul > li > ul hr {
    margin-bottom: 20px;
    border: 2px solid #664E9E;
}
#main_nav > ul > li:hover > ul{
    display: block;
}
#header > div:nth-child(3){
    width: 19%;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
}
#mypage_btn, #logout_btn{
    height: 40px;
    color: #664E9E;
    background-color: #fff;
    border: 1px solid #664E9E;
    padding: 5px 20px 3px;
    border-radius: 8px;
    vertical-align: middle;
    font-weight: bold;
}
#mypage_btn:hover, #logout_btn:hover{
    color: #fff;
    background-color: #664E9E;
}

/* footer------------------------------------------------------------ */
#footer{
    width: 100%;
    height: 300px;
    background-color: #2e2347;
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0;
}
#footer > div{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 45px 0 0 0;
}
#category{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
#category li{
    margin-bottom: 5px;
}
#category a{
    cursor: pointer;
}
#category p, #category a{
    color: #ccc;
    font-size: 20px;
    margin-bottom: 5px;
}
#category > div >  a{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    display: block;
}
.ver_line{
    width: 2px;
    height: 88%;
    background-color: #ccc;
    margin: 0 70px;
}
#info{
    width: 30%;
    height: 100%;
    margin: 0 auto;
}
#info > div, #info p{
    color: #ccc;
}
#info > div:nth-child(1){
    text-align: center;
    margin: 0 0 35px;
}
#info p{
    text-align: end;
    font-size: 20px;
    margin-bottom: 5px;
}

/* 메인 페이지 */

/* -section 1----------------------------------------------------------- */
#section{
    width: 100%;
    height: auto;
}
#section1{
    width: 100%;
    height: 700px;
    margin-bottom: 100px;
    position: relative;
}
#section1 > div{
    width: 100%;
    height: 100%;
    position: absolute;
}
#section1 > div > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -section 2----------------------------------------------------------- */
#section2, #section3, #section4, #section5{
    width: 80%;
    margin: 0 auto 100px;
    text-align: center;
    padding-top: 100px;
}
.section_top{
    position: relative;
    padding-top: 50px;
    margin-bottom: 70px;
}
.section_top > p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
}
.section_top > hr{
    border: 12px solid #664E9E;
    width: 26%;
    opacity: 40%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
}
.section_top > hr:not(:nth-of-type(1)){
    border: 8px solid #887da1;
    width: 5%;
    opacity: 20%;
    left: 50%;
    transform: translate(-50%, -70%);
}
.section_top > hr:nth-of-type(2){
    width: 8.5%;
    top: 81%;
    left: 58.2%;
}
.section_top > hr:nth-of-type(3){
    width: 9%;
    top: 98%;
    left: 75.5%;
}
.section_top > p:not(:first-child){
    font-size: 18px;
    font-weight: 600;
}
.section_top > p:nth-of-type(2){
    margin-bottom: 5px;
}
#section2 {
    margin-bottom: 150px;
}
#section2_content{ 
    background-image: url('/public/img/section2.png');
    background-repeat: no-repeat;
    background-size: 700px 500px;
    background-position-x: 50%;
    position:relative; 
    width:100%; 
    height:500px;
}
.s2_text_l, .s2_text_r{
    position: absolute;
    top : 0%;
    left: 10%;
    opacity: 0;
}
.s2_text_l, .s2_text_r{
    width: 24%;
}
.s2_text_l > p:nth-child(1){
    text-align: left;
    font-size: 30px;
    color: #887da1;
    font-weight: bold;
}
.s2_text_l > div, .s2_text_r > div{
    display: flex;
    width: 100%;
}
.s2_text_l hr, .s2_text_r hr{
    margin: 10px 0 10px;
    background-color: #000;
    height: 1px;
    width: 99%;
}
.s2_circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    margin: 6px 0 0;
}
.s2_text_l > p:last-child{
    text-align: left;
}
#s2_text2{
    top: 27%;
    width: 18%;
}
#s2_text3{
    top: 84%;
    width: 16%;
}
.s2_text_r{
    top : -4%;
    left: 67%;
}
.s2_text_r p{
    text-align: right; 
}
.s2_text_r p:nth-child(1){
    font-size: 30px;
    color: #887da1;
    font-weight: bold;
}
.s2_text_r p:last-child{
    font-size: 16px;
    margin-top: 5px;
}
#s2_text5{
    width: 19%;
    top : 23%;
    left: 72%;
}
#s2_text6{
    width: 19%;
    top : 60%;
    left: 72%;
}
#s2_text7{
    width: 27%;
    top: 65%;
    left: 64%;
}
#s2_text7 > p{
    font-size: 10px;
    color: #ccc;
}
/* -section 3----------------------------------------------------------- */
#section3 > .section_top > hr:nth-of-type(1) {
    width: 40%;
}
#section3 > .section_top > hr:nth-of-type(2){
    width: 29%;
    top: 98%;
    left: 46.5%;
}
#section3_content{ 
    background-image: url('/public/img/section3.png');
    background-repeat: no-repeat;
    background-size: 471px 556px;
    background-position-x: 83%;
    background-position-y: 20%;
    position:relative; 
    width:100%; 
    height:700px;
}
#s3_l_top{
    position: absolute;
    top: 7%;
    left: 10%;
    width: 37%;
}
#s3_l_top > ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#s3_l_top img{
    width: 110px;
    height: 110px;
    opacity: 0;
}
#s3_l_bot{
    position: absolute;
    top: 37%;
    left: 11.5%;
    width: 34%;
    opacity: 0;
}
#s3_l_bot img{
    width: 100%;
}
/* -section 4----------------------------------------------------------- */
#section4 > .section_top {
    margin-bottom: 20px;
}
#section4 > .section_top > hr {
    width: 25%;
}
#section4_content{ 
    background-image: url('/public/img/section4.png');
    background-repeat: no-repeat;
    background-size: 700px;
    background-position-x: 15%;
    position:relative; 
    width:100%; 
    height:700px;
}
#s4_r_top{
    position: absolute;
    top: 10%;
    left: 54%;
    width: 37%;
}
#s4_r_top > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#s4_r_top img{
    width: 110px;
    height: 110px;
    opacity: 0;
}
#s4_r_mid{
    position: absolute;
    top: 40%;
    left: 54%;
    width: 37%;
    opacity: 0;
}
#s4_r_mid > p{
    font-size: 23px;
    font-weight: bold;
}
#s4_r_mid > hr{
    width: 70%;
    border: 8px solid #887da1;
    opacity: 20%;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -70%);
}
#s4_r_bot{
    position: absolute;
    top: 53%;
    left: 54%;
    width: 37%;
}
#s4_r_bot > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    opacity: 0;
}
#s4_r_bot > ul > li:nth-child(1){
    width: 85%;
}
#s4_r_bot > ul > li:nth-child(1) > img{
    width: 100%;
}
#s4_r_bot > ul p{
    font-size: 15px;
    text-align: start;
}
#s4_r_bot > ul span{
    font-size: 23px;
    font-weight: bold;
}
#s4_r_bot > ul p:nth-child(even){
    color: rgb(160, 160, 160);
    margin-bottom: 5px;
}
#s4_r_bot > p{
    font-size: 18px;
    font-weight: 600;
    opacity: 0;
}
#s4_r_bot > p:nth-of-type(1){
    margin-bottom: 5px;
}

/* -section 5----------------------------------------------------------- */
#section5{
    margin-bottom: 400px;
}
#section5 > .section_top{
    margin-bottom: 30px;
}
#section5 > .section_top > hr{
    width: 12%;
}
#section5 > .section_top > hr:nth-of-type(2){
    width: 8%;
    left: 44%;
}
#section5 > .section_top > hr:nth-of-type(3){
    width: 11%;
    top: 98%;
    left: 31%;
}
#section5 > .section_top > hr:nth-of-type(4){
    width: 6.5%;
    top: 98%;
    left: 52.8%;
}
#section5 > .section_top > hr:nth-of-type(5){
    width: 5%;
    top: 98%;
    left: 65.2%;
}
#section5_content{ 
    background-image: url('/public/img/section5.png');
    background-repeat: no-repeat;
    background-size: 600px 700px;
    background-position-x: 85%;
    position:relative; 
    width:100%; 
    height:700px;
}
#sec5_inner_content{
    background-image: url('/public/img/section5_2.png');
    background-repeat: no-repeat;
    background-size: 400px;
    background-position-x: 80%;
    background-position-y: 50%;
    position:relative; 
    width:50%; 
    height: 100%;
    opacity: 0;
}
.sec5_imgs{
    position: absolute;
    top: 15%;
    left: 57%;
    width: 110px;
    height: 110px;
    opacity: 0;
}
#sec5_imgs_2{
    top: 37%;
    left: 32%;
}
#sec5_imgs_3{
    top: 37%;
    left: 82%;
}
#sec5_imgs_4{
    top: 66%;
    left: 43%;
}
#sec5_imgs_5{
    top: 66%;
    left: 73%;
}
/* 마이 페이지 */

/* -myPage----------------------------------------------------------- */
#myPage{
    width: 80%;
    margin: 0 auto;
}
#myPage_top{
    margin-top: 60px;
    font-size: 25px;
}
#myPage_top span{
    font-size: 40px;
    font-weight: bold;
}
#myPage_middle{
    width: 90%;
    height: 200px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
}
#mp_m_left{
    width: 20%;
    height: 100%;
    text-align: center;
}
#mp_m_left img{
    height: 100%;
}
#mp_m_middle{
    width: 1px;
    height: 100%;
    background-color: #000;
}
#mp_m_right{
    width: 75%;
    height: 100%;
}
#mp_m_right li{
    width: 100%;
    height: 30%;
}
#mp_m_right li > div{
    width: 100%;
    display: flex;
    margin: 10px 0 10px;
}
#mp_m_right li > div p{
    font-size: 25px;
}
#mp_m_right li > div p:nth-child(1){
    width: 20%;
    margin-right: 20px;
    font-weight: bold;
}
#myPage_bottom{
    width: 100%;
    text-align: end;
}
#update_btn, #withdrawal_btn, #cancle_btn{
    height: 40px;
    color: #664E9E;
    background-color: #fff;
    border: 1px solid #664E9E;
    padding: 7px 30px 7px;
    border-radius: 8px;
    vertical-align: middle;
}
#update_btn:hover, #withdrawal_btn:hover, #cancle_btn:hover{
    color: #fff;
    background-color: #664E9E;
}

/* -update form----------------------------------------------------------- */
#update_form_ul li{
    height: 20%;
}
#update_form_ul input{
    font-size: 20px;
    padding-right: 5px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.card-group{
    height: 300px;

}
.card{
    border-radius: 75%;
}
.card-header{
}