<div>
    <div id="category">
        <div>
            <a href="/main">홈</a>
            <ul>
                <li><a onclick="scroll_move(0)">우리나라 치매 현황</a></li>
                <li><a onclick="scroll_move(1)">라이프로그 AI 데이터란?</a></li>
                <li><a onclick="scroll_move(2)">라이프로그 데이터란?</a></li>
                <li><a onclick="scroll_move(3)">SNSB란?</a></li>
            </ul> 
        </div>
        <div>
            <a href="#">Analysis Model</a>
            <ul>
                <li><a href="#">Random Forest</a></li>
                <li><a href="#">Renear Regression</a></li>
                <li><a href="#">Logistic Regression</a></li>
                <li><a href="#">Decision Tree</a></li>
            </ul> 
        </div>
        <div>
            <a href="#">Community</a>
            <ul>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
            </ul> 
        </div>
    </div>
    <div class="ver_line"></div>
    <div id="info">
        <div><img src="public/img/logo_footer.png" alt="하단 로고"></div>
        <div>
            <p>Tel) 062-123-4567</p>
            <p>Email) aaa@naver.com</p>
        </div>
    </div>
</div>