<div>
    <div id="category">
        <div>
            <p>Lifelog Data</p>
            <ul>
                <li><a href="#">All</a></li>
                <li><a href="#">Activity</a></li>
                <li><a href="#">Sleep</a></li>
                <li><a href="#">Readiness</a></li>
            </ul> 
        </div>
        <div>
            <p>Analysis Model</p>
            <ul>
                <li><a href="#">Random Forest</a></li>
                <li><a href="#">Renear Regression</a></li>
                <li><a href="#">Logistic Regression</a></li>
                <li><a href="#">Decision Tree</a></li>
            </ul> 
        </div>
        <div>
            <p>Community</p>
            <ul>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
            </ul> 
        </div>
    </div>
    <div class="ver_line"></div>
    <div id="info">
        <div><img src="public/img/logo_footer.png" alt="하단 로고"></div>
        <div>
            <p>Tel) 062-123-4567</p>
            <p>Email) aaa@naver.com</p>
        </div>
    </div>
</div>