<div><a href="/main"><img src="public/img/logo2.png" alt="로고" id="main_nav_logo"></a></div>
<div id="main_nav">
    <ul>
        <li>
            <a href="#">Home</a>
            <ul>
                <li><hr></li>
                <li><a href="#">AI Data</a></li>
                <li><a href="#">Lifelog Data</a></li>
                <li><a href="#">SNSB</a></li>
                <li><a href="#">W</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Lifelog Data</a>
            <ul>
                <li><hr></li>
                <li><a href="#">Random Forest</a></li>
                <li><a href="#">Renear Regression</a></li>
                <li><a href="#">Logistic Regression</a></li>
                <li><a href="#">Decision Tree</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Community</a>
            <ul>
                <li><hr></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
            </ul>
        </li>
    </ul>    
</div>
<div>
    <a href="/mypage" id="mypage_btn">마이페이지</a>
    <a href="/logout" id="logout_btn">로그아웃</a>
</div>
