<div><a href="/main"><img src="public/img/logo2.png" alt="로고" id="main_nav_logo"></a></div>
<div id="main_nav">
    <ul>
        <li>
            <a href="/main">홈</a>
            <ul>
                <li><hr></li>
                <li><a onclick="scroll_move(0)">우리나라 치매 현황</a></li>
                <li><a onclick="scroll_move(1)">라이프로그 AI 데이터란?</a></li>
                <li><a onclick="scroll_move(2)">라이프로그 데이터란?</a></li>
                <li><a onclick="scroll_move(3)">SNSB란?</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Lifelog Data</a>
            <ul>
                <li><hr></li>
                <li><a href="#">Random Forest</a></li>
                <li><a href="#">Renear Regression</a></li>
                <li><a href="#">Logistic Regression</a></li>
                <li><a href="/law">관련 법규</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Community</a>
            <ul>
                <li><hr></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
                <li><a href="#">Board</a></li>
            </ul>
        </li>
    </ul>    
</div>
<div>
    <a href="/mypage" id="mypage_btn">마이페이지</a>
    <a href="/logout" id="logout_btn">로그아웃</a>
</div>
